* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #f6f6f6;
}
.headerLayout {
  display: flex;
  justify-content: space-between;
  padding: 2.5vh 1rem;
  align-items: center;
  overflow: hidden;
  height: 10vh;
}

.background {
  background-color: white;
}

.shoppie {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.3rem;
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.search {
  padding: 0.6rem 1rem;
  width: 35rem;
  height: 2.5rem;
  position: relative;
  outline: none;
  border: 1px solid rgb(99, 99, 99);
  border-radius: 0.4rem;
}
.searchIcon {
  position: absolute;
  height: 2.5rem;
  width: 3rem;
  padding: 0.5rem;
  margin-left: 32rem;
  z-index: 1;
  float: inline-end;
  cursor: pointer;
}

.searchIcon:hover {
  background-color: rgba(255, 200, 133, 0.322);
}

.navlists {
  display: flex;
  gap: 1.5rem;
}
.navSpan {
  display: inline-flex;
  font-size: 1rem;
  font-weight: 600;
  gap: 0.3rem;
  cursor: pointer;
  text-decoration: none;
  color: rgb(51, 51, 51);
}

/* Body  */
.bodyLayout {
  display: flex;
  gap: 1.35rem;
  width: 100%;
  height: 87vh;
  margin-top: 3vh;
}

/* Body  */

.commoncontainer {
  padding: 1.5rem 1rem;
  border-radius: 0.4rem;
  margin-bottom: 1.35rem;
}

/* leftsidebar */

.leftsidebar {
  width: 30rem;
  margin-left: 1.35rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filterMain {
  font-weight: 700;
  font-size: 1.4rem;
}
.filterLine {
  margin-top: 10px;
  margin-bottom: 1.2rem;
}
.filterName {
  font-weight: 600;
  font-size: 1rem;
}

ul {
  list-style-type: none;
  margin-bottom: 1rem;
}
li {
  margin-bottom: 0.7rem;
  width: 100%;
  gap: 1rem;
  display: inline-flex;
  cursor: pointer;
  text-transform: capitalize;
}

/* leftsidebar */
.commonfilterer {
  padding: 1.35rem 2rem;
  border-radius: 0.5rem;
}
.commonlinks {
  text-decoration-line: none;
}
.usersettings {
  height: 14.8vh;
}

.commonlists {
  display: inline-flex;
  gap: 1.5rem;
  cursor: pointer;
}
/* cardContainer */

.cardContainer {
  margin-right: 1.35rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 1rem;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.card {
  width: 215px;
  height: 300px;
  padding: 0.5rem;
  transition: 0.4s ease-in-out;
  border-radius: 0.4rem;
  cursor: pointer;
}

.card:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transform: translateY(-5px);
}

.imager {
  position: relative;
}

/* .category {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #f6f6f6;
  padding: 5px 10px;
  z-index: 1;
  font-size: 0.9rem;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
} */

.bestsellertxt {
  background-color: #181818;
  padding: 5px 10px;
  font-size: 0.9rem;
  text-transform: capitalize;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.cardImage {
  width: 100%;
  height: 30vh;
  object-fit: contain;
  margin-bottom: 0.6rem;
  cursor: pointer;
}

.cardTitle {
  font-size: 0.9rem;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: black;
}

.carddetails {
  width: 100%;
  font-size: 1rem;
  margin-top: 0.3rem;
  text-decoration: none;
  color: black;
  list-style-type: none;
}

.detail {
  width: 100%;
  height: 84vh;
  margin-bottom: 1.35rem;
}

.details {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2.5rem;
  flex-wrap: unset;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}

.dImg {
  width: 45%;
  padding: 0.5rem;
}
.dImage {
  width: 100%;
}
.dText {
  object-fit: contain;
  width: 100%;
}
.dCategory {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  margin-bottom: 5rem;
  color: rgb(68, 68, 68);
  background-color: #f6f6f6;
  padding: 0.5rem 1rem;
}
.detailTitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.detaildescription {
  margin-bottom: 0rem;
  font-size: 0.9rem;
  text-transform: capitalize;
}

.detailSpanner {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.addtocart {
  margin-top: 1rem;
  display: inline-flex;
  align-items: center;
  font-size: 0.95rem;
  font-weight: 600;
  gap: 0.5rem;
  padding: 0.7rem 1.4rem;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.errorpageLayout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.errorContent {
  width: 550px;
  height: 550px;
  border-radius: 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notfoundImage {
  width: 350px;
  height: 350px;
}

.loginLayout {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 500px;
  background-color: white;
  border-radius: 0.5rem;
}

.namelayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 2rem;
  width: 100%;
  height: 100%;
}
.vericalline {
  border-left: 1px solid rgb(158, 158, 158);
  height: 80%;
}
.formImg {
  width: 100%;
  height: 100%;
}
.formlayout {
  width: 100%;
  padding: 1rem 5rem 1rem 3rem;
}
.formheading {
  font-weight: 600;
  margin-bottom: 0rem;
  font-size: 1.7rem;
}
.formPara {
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}
.formInput {
  width: 100%;
  margin-bottom: 0.2rem;
  padding: 0.5rem 1rem;
}

.Validator {
  color: red;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0rem;
  height: 1.4rem;
}

.passwords {
  position: relative;
}
.passicons {
  position: absolute;
  display: inline;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.formsmallheading {
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 0.8rem;
}
.fornbtn {
  padding: 0.4rem 1.5rem;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

hr {
  color: #c5c5c5;
}

.iconss {
  margin-top: 1rem;
  text-align: center;
}
.icons {
  margin: 0 0.5rem;
}

.cartLayout {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35rem;
  height: 85vh;
  margin-top: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1.5rem 1.5rem;
}
.cartTitle {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.emptycart {
  width: 400px;
  margin-bottom: 0.5rem;
  opacity: 50%;
}

.noitemTxt {
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.internetLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85vh;
}

.internetsection {
  margin: 1.35rem 0;
  background-color: white;
  width: 500px;
  height: 250px;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cardContainer */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: #c5c5c5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(192, 192, 192);
}
